a {
  display: block;
  position: relative;
  height: 58px;
  width: 246px;
  text-align: center;
  background: linear-gradient(#ddd, #bbb);
  box-shadow: inset 0px 29px 0px 0px rgba(226, 226, 226, 0.5), 0px 1px 3px 1px #555;
  color: #555555;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 10px;
  line-height: 58px;
  letter-spacing: .6px;
  top: 40px;
  left: 40px;
}

a:after {
  position: absolute;
  top: -9px;
  left: -9px;
  content: "";
  height: 72px;
  width: 260px;
  background: #ccc;
  z-index: -1;
  border: 2px solid white;
  border-radius: 18px;
  box-shadow: 0px 0px 0px 2px #666;
}

a:before {
  position: absolute;
  top: 2px;
  left: 20px;
  content: "★★";
  font-size: 28px;
  color: #999;
  letter-spacing: 154px;
}
